* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  border: none;
  outline: none;
}

html {
  font-size: 10rem;
}

html,
body {
  height: 100%;
}

body {
  color: #F8F3D4;
  background: #F8F3D4;
  font-family: sans-serif;
  text-align: center;
}

.view-stack {
  position: relative;
  height: 100%;
}

.view-stack-screens,
.view-stack-sheets,
.view-stack-modals {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  appearance: none;
  padding: 0.15rem 0.5rem;
  font-size: 0.15rem;
  font-weight: 700;
  background: #F8F3D4;
  color: #F6416C;
  border: none;
  border-radius: 6px;
}

.a,
.b,
.c,
.d {
  height: 100%;
}

.a {
  background: #00B8A9;
}

.b {
  background: #F6416C;
}

.c {
  background: #FFDE7D;
}

.d {
  background: #00B8A9;
}
