<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
  <%- head %>
</head>
<body>
  <script>
    window.__SERVER_STATE__ = <%- serverState %>
    console.log(__SERVER_STATE__)
  </script>
  <%- body %>
</body>
</html>
