<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <script>
    window.__INITIAL_STATE__ = <%- initialState %>
    console.log(__INITIAL_STATE__)
  </script>
  <script src="bundle.js"></script>
</body>
</html>
